# emacs stuff
*~

# secrets
keys
hedostatuskeys

# data files
*.out
*.csv
*.pyc
*.zip
*.tgz

# data folders
shifts/
word-vectors/
sotu/
outside/
music/
teledata/
moviedata/
embeds/
bookdata/
bookarcs/
